{% extends 'base.html' %}

{% block body %}


<h2>
Books
</h2>


<table class="table mb-0">
    <thead>
      <tr>
       
        <th>Title</th>
        <th>Author</th>
        <th>Download</th>
        
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
           <td>{{ book.pdf }}</td>
          
          
        </tr>
      {% endfor %}
    </tbody>
  </table>



{% endblock body %}