{% extends 'base.html' %}

{% block body %}


<h2>
Upload
</h2>

<form method="post" enctype="multipart/form-data">
{% csrf_token %}


    <input type="file" multiple name="document">
    <input class="form-control" type="text" placeholder="Filename">
    <button type="submit">Upload file</button>
  </form>

<h2>Make changes in database</h2>


{% endblock body %}