{% extends 'base.html' %}

{% block body %}

<h2>Upload book</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Upload book</button>
  </form>


{% endblock body %}